<div class="form-group">
  <a class="btn btn-success" ui-sref="novoLivro">Novo livro</a>
</div>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>
      Nome
    </th>
    <th>
      Páginas
    </th>
    <th>
      Autor
    </th>
    <th>
      Ações
    </th>
  </tr>
  </thead>
  <tr ng-repeat="livro in livros">
    <td>{{livro.nome}}</td>
    <td>{{livro.pages}}</td>
    <td>{{livro.author.nome}}</td>
    <td><a class="btn btn-primary" ui-sref="editarLivro({ id: livro.id })">Editar</a></td>
  </tr>
</table>